html {
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-family: "PirataOne";
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: grey;
}
